/*PALLETE */
:root {
  --color-white: #fff;
  --color-purple: #a288a8;
  --color-red: #ac5a5a;
  --color-red-dark: #eb5757;
  --color-gray: #3c3c3b;
  --color-gray-mid: #a3a3a3;
  --color-gray-light: #e5e5e5;
  --color-text-light: #afafaf;
  --color-text-black: #000;
  --color-gradient-1: linear-gradient(180deg, #ac5a5a 0%, #a288a8 100%);
  --color-gradient-2: linear-gradient(180deg, #a288a8 0%, #ac5a5a 100%);
  --color-gradient-bg-hero: linear-gradient(
    281.35deg,
    #000000 0.36%,
    #1e1e1e 80.94%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conter {
  width: 100%;
  background: var(--color-gradient-bg-hero);
}

.conter__img--left {
  width: 18rem;
  position: absolute;
}

.hero {
  padding: 2rem 0 4rem 0;
}

.hero__logo {
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.hero__logo img {
  width: 10.6rem;
}
.hero__titles h1 {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3.8rem;
  color: var(--color-white);
}

.hero__titles p {
  color: var(--color-white);
  line-height: 1.6rem;
}

.conter__img--center {
  width: 15rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: calc(100% - 75%);
  color: var(--color-gray);
}

.form {
  position: relative;
  z-index: 10;
}

.form input {
  color: var(--color-text-black);
  border-radius: 0.1rem;
  box-shadow: 6px -2px 4px rgba(0, 0, 0, 0.05), 0px 12px 10px rgba(0, 0, 0, 0.1);
}

.form input::placeholder {
  color: var(--color-text-light);
}

.form input:focus {
  border: 1px solid var(--color-purple);
  box-shadow: 6px -2px 4px rgba(0, 0, 0, 0.05), 0px 12px 10px rgba(0, 0, 0, 0.1);
}

/*---------------------buttons estyles-------------------- */

.buttonStyles {
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: var(--color-white);
  background-color: var(--color-purple);
}

.buttonStyles:hover {
  text-decoration: underline;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
}

.buttonStyles2 {
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--color-purple);
  color: var(--color-purple);
  background-color: var(--color-white);
}

.buttonStyles2:hover {
  text-decoration: underline;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
}
.buttonCloseStyle {
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: var(--color-white);
  background-color: var(--color-gray-mid);
}

.buttonCloseStyle:hover {
  text-decoration: underline;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.45);
}

/* ---------------------//------------------------------ */

.conter__validate {
  width: fit-content;
  padding: 0.3rem;
  color: var(--color-text-black);
  border: 1px solid var(--color-purple);
  border-left: 4px solid var(--color-red-dark);
  background-color: var(--color-white);
  transition: transform 0.3s ease-in-out;
}

.conter__img--right {
  width: 26.3rem;
  position: absolute;
  top: 0;
  right: 0;
}

.mid__img .img_persons {
  position: relative;
  z-index: 10;
  width: 34rem;
}

.img_abstract {
  width: 40rem;
}

.conter__mid_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid__img_bottom {
  position: absolute;
  top: 55%;
  left: 80%;
  z-index: 1;
}

.mid__img_bottom .img_bars {
  width: fit-content;
  height: 6rem;
}

.bottom__text {
  padding: 0 20rem;
}

.card__conter {
  position: relative;
  z-index: 100;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 4px 12px rgba(73, 73, 73, 0.25);
}

.card__conter:hover {
  box-shadow: 0px 4px 12px rgba(14, 13, 13, 0.5);
}

.bars-one {
  position: relative;
  top: -4.5rem;
}

.bars-two {
  position: relative;
  top: -3rem;
}

.bars-three {
  position: relative;
  top: -4.5rem;
}

.card__conter h3 {
  margin: 0;
}

.card__conter small {
  margin: 0.7rem 0;
  font-size: 0.9rem;
  color: var(--color-gray);
  text-transform: uppercase;
}

.card__conter p {
  width: 17rem;
}

.conter_bg-img {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 50%;
  bottom: 0;
  width: 60%;
  mix-blend-mode: darken;
  filter: opacity(0.2);
}

.image-left {
  position: absolute;
  z-index: 1;
  top: 75rem;
}

.image-right {
  width: 20vw;
  position: absolute;
  z-index: 10;
  top: 103rem;
  right: 0;
}

.footer {
  height: 40vh;
  background: #000000;
}

.footer-text small {
  color: var(--color-gray-light);
}

.modal-is-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-is-active .formConter {
  position: relative;
  z-index: 140;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 0.4rem;
  transition: transform 1s ease-out;
}

.modal-disappear {
  display: none;
  transition: transform 1s ease-in;
}
